name: Build WebAssembly

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2
      - name: Build
        run: make build/wasm VERSION=${{ inputs.release-tag }}
      - name: Upload
        run: |
          cp zig-out/bin/santa-tinsel.wasm santa-tinsel-${{ inputs.release-tag }}.wasm
          gh release upload ${{ inputs.release-tag }} santa-tinsel-${{ inputs.release-tag }}.wasm --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
