name: Build CLI

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  binary:
    name: Binary
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - platform: linux-amd64
            target: x86_64-linux-musl
            os: ubuntu-24.04
          - platform: linux-arm64
            target: aarch64-linux-musl
            os: ubuntu-24.04
          - platform: macos-amd64
            target: x86_64-macos
            os: macos-15
          - platform: macos-arm64
            target: aarch64-macos
            os: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.0
      - name: Build
        run: make build/${{ matrix.platform }} VERSION=${{ inputs.release-tag }}
      - name: Upload
        run: |
          cp zig-out/bin/santa-tinsel santa-tinsel-${{ inputs.release-tag }}-${{ matrix.platform }}
          gh release upload ${{ inputs.release-tag }} santa-tinsel-${{ inputs.release-tag }}-${{ matrix.platform }} --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
