name: Test

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - draft-release

jobs:
  test:
    name: Test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.15.2
      - name: Cache
        uses: actions/cache@v4
        with:
          path: ./.zig-cache
          key: zig-cache-${{ hashFiles('src/**/*.zig', 'build.zig') }}
          restore-keys: zig-cache-
      - name: Test
        run: make can-release

  update-draft-release-branch:
    needs: test
    if: github.ref == 'refs/heads/main'
    name: Update draft release branch
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Update
        uses: alice-biometrics/github-push-action@v0.7.0
        with:
          branch: draft-release
          force: true
          github_token: ${{ secrets.RELEASE_TOKEN }}
